BOT_TOKEN=your_telegram_bot_token

MODEL_PATH=tg_bot/models/best_model.cbm
PCA_PATH=tg_bot/models/pca_model.pkl
DATASET_PATH=tg_bot/models/clean_dataset.parquet
TEMPLATE_PATH=docs/Шаблон.xlsx

EMB_MODEL_NAME=BAAI/bge-m3